.youtube{
	width: 300px;
	height: 100px;

}
ul{
	color: black;
	font-weight: bold;
	list-style-type: none;
}
span{
	font-size: 25px;
	color: black;
	font-weight: bold;
	line-height: 5pt;
}
h2{
	font-size: 20px;
	font-weight: normal;
}
.leptopi{
	width: 200px;
	height: 200px;
}
.coding{
	width: 200px;
	height: 200px;
}
p{
	background-color: green;
	margin: 50px;
	border: 300px;
	padding: 10px;
}
.pirveli{
	margin-top: 0;
}

